# Memobase Helm Chart

[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/memobase)](https://artifacthub.io/packages/search?repo=memobase)

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.sourcesSection" . }}

## Prerequisites

- Helm v3+

## Get the Chart

Add the Memobase Helm repository:

```bash
helm repo add memobase-repo https://memodb-io.github.io/memobase-helm
helm repo update
```

## Installing the Chart

To install the chart with the release name `my-memobase`:

```bash
helm install my-memobase memobase-repo/memobase \
  --set core.config.llm_api_key="" \
  --set core.config.embedding_api_key=""
```

**Note** that installing this chart directly means it will use the [default template values](./values.yaml) for Memobase.

## Uninstalling the Chart

To uninstall the `my-memobase` deployment:

```bash
helm uninstall my-memobase
```

## Configuration

The following table lists the configurable parameters of the Memobase chart and their default values.


### General parameters

| Key | Type | Default | Description |
|-----|------|---------|-------------|
{{- range .Values }}
  {{- if not (or (hasPrefix "core" .Key) (hasPrefix "admin" .Key)) }}
| {{ .Key }} | {{ .Type }} | {{ if .Default }}{{ .Default }}{{ else }}{{ .AutoDefault }}{{ end }} | {{ if .Description }}{{ .Description }}{{ else }}{{ .AutoDescription }}{{ end }} |
  {{- end }}
{{- end }}

### Core Configuration

llm_api_key and embedding_api_key (if enable_event_embedding is true) are required.

| Key | Type | Default | Description |
|-----|------|---------|-------------|
{{- range .Values }}
  {{- if hasPrefix "core" .Key }}
| {{ .Key }} | {{ .Type }} | {{ if .Default }}{{ .Default }}{{ else }}{{ .AutoDefault }}{{ end }} | {{ if .Description }}{{ .Description }}{{ else }}{{ .AutoDescription }}{{ end }} |
  {{- end }}
{{- end }}

----------------------------------------------
Autogenerated from chart metadata using [helm-docs](https://github.com/norwoodj/helm-docs)
